parameters:
    phpVersion: 80100
    level: 8
    paths:
        - src
    parallel:
        maximumNumberOfProcesses: 1
    ignoreErrors:
        -
            message: '%Parameter #1 \$callable of method Zaphyr\\Router\\Attributes\\Route::setCallable\(\) expects array<string, string>|(callable\(\): mixed)|string, array{class-string, non-empty-string} given.%'
            path: src/Utils/AttributesResolver.php
        -
            message: '%Dead catch - ReflectionException is never thrown in the try block.%'
            path: src/Utils/AttributesResolver.php
        -
            message: '%Method Zaphyr\\Router\\Dispatcher::dispatchVariableRoute\(\) has parameter (\$routeData|\$uri) with no type specified.%'
            path: src/Dispatcher.php
