parameters:
    phpVersion: 80100
    level: 8
    paths:
        - src
    parallel:
        maximumNumberOfProcesses: 1
    ignoreErrors:
        -
            message: '%Dead catch - ReflectionException is never thrown in the try block.%'
            path: src/Utils/AttributesResolver.php
        -
            message: '%Method Zaphyr\\Router\\Dispatcher::dispatchVariableRoute\(\) has parameter (\$routeData|\$uri) with no type specified.%'
            path: src/Dispatcher.php
